<div id="modal-warning-before-delete">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="closeModalDelete()">&times;</button>
        <h4 class="modal-title">Warning</h4>
    </div>

    <div class="modal-body">
        <p>Are you sure that you would like to delete selected items?</p>
        <div>
            <a href="" class="btn btn-danger" ng-click="deleteOneStorage ? deleteStorage() : deleteStorages()">Yes</a>
            <a href="" class="btn btn-default" ng-click="closeModalDelete()">No</a>
        </div>
    </div>
</div>


