<h1>Storage</h1>
<div class="alert alert-danger" ng-if="vm.error">
    {{vm.messageError}}
</div>

<form name="form">
    <div class="form-group" ng-class="{'has-error' : (form.name.$dirty && form.name.$invalid) }">
        <label for="name">Storage name:</label>
        <input type="text" ng-model="vm.storage.name" class="form-control" id="name" name="name"
               placeholder="Enter storage name" required>

        <div ng-show="form.name.$dirty && form.name.$invalid">
            <p class="help-block"
               ng-show="form.name.$error.required" >
                Name is required.
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="address">Address:</label>
        <input type="text" ng-model="vm.storage.address" class="form-control" id="address" name="address"
               placeholder="Enter address">

        <div ng-show="form.address.$dirty && form.address.$invalid">
            <p class="help-block"
               ng-show="form.name.$error.required" >
                Address is required.
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="status">Status:</label>
        <div>
            <label>
                <input type="radio" ng-model="vm.storage.activated" id="status" value="true">
                ACTIVE
            </label>
            <label>
                <input type="radio" ng-model="vm.storage.activated" value="false">
                NON-ACTIVE
            </label>
        </div>
    </div>


    <a href="" class="btn btn-default" ng-click="vm.update()" ng-disabled="form.$invalid">Update</a>
    <a href="#/admincompany/storages" class="btn btn-default">Cancel</a>
</form>
