<h1 data-translate="dispatcher.waybill.name">Your Waybills</h1>

<div class="alert alert-warning" ng-if="vm.waybills.length === 0" data-translate="dispatcher.waybill.warning">List of your's waybills is empty.</div>

<div ng-if="vm.waybills.length != 0">
    <div id="control-table">
        <span class="select-show-title" data-translate="dispatcher.waybill.perPage">Waybills per page:</span>
        <select ng-model="vm.itemsPerPage" class="btn btn-default"
                ng-options="number for number in vm.availableItemsPerPage"
                ng-change="vm.changeItemsPerPage()">
        </select>
    </div>

    <table class="table">
        <thead>
        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
            <th jh-sort-by="number"><span data-translate="dispatcher.waybill.number">Number</span><span class="fa fa-sort"></span></th>
            <th jh-sort-by="date"><span data-translate="dispatcher.waybill.date">Date</span><span class="fa fa-sort"></span></th>
            <th><span data-translate="dispatcher.waybill.dispatcher">Dispatcher</span></th>
            <th jh-sort-by="driver"><span data-translate="dispatcher.waybill.driver">Driver</span><span class="fa fa-sort"></span></th>
            <th jh-sort-by="state"><span data-translate="dispatcher.waybill.state.name">State</span><span class="fa fa-sort"></span></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="waybill in vm.waybills">
            <td>{{waybill.number}}</td>
            <td>{{waybill.date | date:'dd/MM/yy HH:mm'}}</td>
            <td>{{waybill.dispatcher.firstName}} {{waybill.dispatcher.lastName}}</td>
            <td>{{waybill.driver.firstName}} {{waybill.driver.lastName}}</td>
            <td>
                <span ng-if = "waybill.state == 'CREATED'" class="label label-info" data-translate="dispatcher.waybill.state.created">CREATED</span>
                <span ng-if = "waybill.state == 'DELIVERED'" class="label label-success" data-translate="dispatcher.waybill.state.delivered">DELIVERED</span>
                <span ng-if = "waybill.state == 'CHECKED'" class="label label-primary" data-translate="dispatcher.waybill.state.checked">CHECKED</span>
                <span ng-if = "waybill.state == 'REJECTED'" class="label label-warning" data-translate="dispatcher.waybill.state.rejected">REJECTED</span>
            </td>
            <td>
                <a type="button" class="btn btn-default btn-sm" href="#/dispatcher/waybills/{{waybill.id}}/details">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    <span data-translate="dispatcher.button.details">Details</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm"
                        total-items="vm.totalItems"
                        items-per-page = "vm.itemsPerPage"
                        boundary-link-numbers = "true"
                        rotate = "true"
                        ng-model="vm.page"
                        ng-change="vm.transition()">
        </uib-pagination>
    </div>
</div>
