<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title">Waybill details</h4>
    </div>

    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt><span>Waybill's number:</span></dt>
            <dd><span>{{vm.waybill.number}}</span></dd>

            <dt><span>Dispatcher:</span></dt>
            <dd><span>{{vm.waybill.dispatcher.firstName + " " + vm.waybill.dispatcher.lastName}}</span></dd>

            <dt><span>Creation date:</span></dt>
            <dd><span>{{vm.waybill.date | date:'dd/MM/yy HH:mm'}}</span></dd>

            <dt><span>Driver:</span></dt>
            <dd><span>{{vm.waybill.driver.firstName + " " + vm.waybill.driver.lastName}}</span></dd>

            <dt><span>State:</span></dt>
            <dd>
                <span ng-if = "vm.waybill.state == 'CREATED'" class="label label-info" >CREATED</span>
                <span ng-if = "vm.waybill.state == 'DELIVERED'" class="label label-success" >DELIVERED</span>
                <span ng-if = "vm.waybill.state == 'CHECKED'" class="label label-primary" >CHECKED</span>
                <span ng-if = "vm.waybill.state == 'REJECTED'" class="label label-warning" >REJECTED</span>
            </dd>
        </dl>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon glyphicon-eye-close">&nbsp;Cancel</span>
        </button>
    </div>
</div>
