<div id="modal-upload-profile-photo">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.close()">&times;</button>
        <h4 class="modal-title">Upload profile photo.</h4>
    </div>

    <div id="modal-upload-photo-body">
        <div ng-if="vm.isError">
            <div class="alert alert-danger">{{vm.messageError}}</div>
        </div>
        <div class="wrap-input-file" ng-if="vm.uploadImage == ''">
            <p>Upload photo.</p>
            <input type="file" id="fileInput" ng-click="vm.addEvent()">
        </div>
        <div ng-if="vm.uploadImage != ''">
            <div class="row">
                <div class="col-md-8" id="upload-photo">
                    <div class="cropArea">
                        <img-crop image="vm.uploadImage" result-image="vm.croppedImage"></img-crop>
                    </div>
                </div>
                <div class="col-md-4">
                    <div><img ng-src="{{vm.croppedImage}}" id="cropedImage"/></div>
                </div>
            </div>
            <a href="" class="btn btn-default" ng-click="vm.back()">Back</a>
            <a href="" class="btn btn-default" ng-click="vm.saveLogo()">Save</a>
        </div>
    </div>
</div>
