<form name="form">
    <div>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    ng-click="vm.clear()">&times;</button>
            <h4 class="modal-title">Waybill details</h4>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="text-center">Waybill</h4>
                    <dl class="dl-horizontal">
                        <dt><span>Waybill №:</span></dt>
                        <dd><span>{{vm.waybill.number}}</span></dd>

                        <dt><span>Route list №:</span></dt>
                        <dd>
                            <span><a href="#/manager/routelist-for-waybill/{{vm.waybill.routeList.id}}">{{vm.waybill.routeList.number}}</a></span>
                        </dd>

                        <dt><span>Dispatcher:</span></dt>
                        <dd><span>{{vm.waybill.dispatcher.firstName}} {{vm.waybill.dispatcher.lastName}}</span></dd>

                        <dt><span>Creation date:</span></dt>
                        <dd><span>{{vm.waybill.date | date:'dd/MM/yy HH:mm'}}</span></dd>

                        <dt><span>Driver:</span></dt>
                        <dd><span>{{vm.waybill.driver.firstName}} {{vm.waybill.driver.lastName}}</span></dd>

                        <dt><span>Leaving storage:</span></dt>
                        <dd><span>{{vm.waybill.routeList.leavingStorage.address}}</span></dd>

                        <dt><span>Leaving date:</span></dt>
                        <dd><span>{{vm.waybill.routeList.leavingDate | date:'dd/MM/yy HH:mm'}}</span></dd>

                        <dt><span>Arrival storage:</span></dt>
                        <dd><span>{{vm.waybill.routeList.arrivalStorage.address}}</span></dd>

                        <dt><span>Arrival date:</span></dt>
                        <dd><span>{{vm.waybill.routeList.arrivalDate | date:'dd/MM/yy HH:mm'}}</span></dd>

                        <dt><span>State:</span></dt>
                        <dd>
                        <span ng-if="vm.waybill.state == 'CREATED'" class="label label-info">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp;CREATED</span>
                            <span ng-if="vm.waybill.state == 'CHECKED'" class="label label-primary">
                            <span class="glyphicon glyphicon-transfer"></span>&nbsp;CHECKED</span>
                            <span ng-if="vm.waybill.state == 'DELIVERED'" class="label label-success">
                            <span class="glyphicon glyphicon-ok"></span>&nbsp;DELIVERED</span>
                            <span ng-if="vm.waybill.state == 'REJECTED'" class="label label-danger">
                            <span class="glyphicon glyphicon-remove"></span>&nbsp;REJECTED</span>
                        </dd>

                        <div ng-if="vm.waybill.state != 'CREATED'">
                            <dt><span>Checked by:</span></dt>
                            <dd><span><b>{{vm.waybill.manager.firstName}} {{vm.waybill.manager.lastName}}</b></span> at
                                {{vm.waybill.dateChecked | date:'dd/MM/yy HH:mm'}}
                            </dd>
                        </div>
                    </dl>
                </div>

                <!-------------- GOODS INFO --------------->
                <div class="col-md-5">
                    <h4 class="text-center">Goods</h4>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="text-center">Name</th>
                            <th class="text-center" ng-if="vm.waybill.state == 'CREATED'">Unchecked</th>
                            <th ng-if="vm.waybill.state != 'REJECTED'" class="text-center">Shipped</th>
                            <th ng-if="vm.waybill.state != 'REJECTED'" class="text-center">$ per item</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="stuff in vm.waybill.goods">
                            <td>{{stuff.name}}
                                <div>({{stuff.type}})</div>
                            </td>
                            <td ng-if="vm.waybill.state == 'CREATED'">
                                <div class="text-center">{{stuff.uncheckedNumber}}</div>
                            </td>
                            <td ng-if="vm.waybill.state != 'REJECTED'">
                                <div ng-if="vm.waybill.state == 'CREATED'"
                                     ng-class="{'has-error' : (form.goodsNum{{stuff.id}}.$dirty && form.goodsNum{{stuff.id}}.$invalid)}">
                                    <input name="goodsNum{{stuff.id}}"
                                           ng-model="stuff.acceptedNumber"
                                           ng-pattern="/^\d+$/"
                                           size="5" class="form-control input-sm text-center"
                                           required>
                                </div>
                                <div ng-if="vm.waybill.state != 'CREATED'" class="text-center">
                                    {{stuff.acceptedNumber}}
                                </div>
                            </td>
                            <td ng-if="vm.waybill.state != 'REJECTED'">
                                <div class="text-center">
                                    <span>{{stuff.price}}</span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-if="vm.waybill.margin != null"><strong>Margin:</strong> {{vm.waybill.margin}}%</div>

                    <!--                    <div class="alert alert-danger help-block"
                                             role="alert"
                                             ng-show="form.$dirty && form.$invalid">
                                            Fill all required fields
                                        </div>-->

                </div>
            </div>
        </div>
    </div>

    <!--------------------- FOOTER -------------------------->

    <div ng-if="vm.waybill.state == 'CREATED'" class="modal-footer">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="manager" class="pull-left">Checked by:</label>
                    <input type="text" id="manager" class="form-control" name="confirmedBy"
                           ng-model="vm.fullName" readonly>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="checkDate" class="pull-left">At:</label>
                    <div class="input-group" style="clear:both;">
                        <input type="text"
                               ng-value="vm.now | date:'dd/MM/yy HH:mm'"
                               id="checkDate"
                               name="checkDate1"
                               class="form-control"
                               readonly/>
                        <span class="input-group-addon" id="checkDate1"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <div class="alert alert-danger help-block"
                         role="alert"
                         ng-show="form.checkDate.$dirty && form.checkDate.$invalid">
                        Checked date is required
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="price" class="pull-left">Margin:</label>
                    <div class="input-group" style="clear:both"
                         ng-class="{'has-error' : (form.price.$dirty && form.price.$invalid)}">
                        <input type="text"
                               id="price"
                               name="price"
                               class="form-control"
                               ng-model="vm.waybill.margin"
                               ng-pattern="/^\d+$/"
                               aria-describedby="price-addon"
                               required/>
                        <span class="input-group-addon" id="price-addon">%</span>
                    </div>
                    <!--<div class="alert alert-danger help-block"-->
                    <!--role="alert"-->
                    <!--ng-show="form.price.$dirty && form.price.$invalid">-->
                    <!--Margin must be numeric-->
                    <!--</div>-->
                </div>
            </div>
            <div class="col-md-1"></div>

        </div>

        <!--      <button type="button" class="btn btn-danger" data-dismiss="modal"
                      ng_disabled="form.checkDate.$invalid"
                      ng-click="vm.clear(); vm.changeWaybillState(0)">
                  <span class="glyphicon glyphicon-remove">&nbsp;Reject</span>
              </button>-->
        <button type="button" class="btn btn-success" data-dismiss="modal"
                ng-disabled="form.$invalid"
                ng-click="closeModalWaybillDetails(vm.waybill.id); vm.changeWaybillState(1)">
            <span class="glyphicon glyphicon-ok">&nbsp;Confirm</span>
        </button>
    </div>
</form>
