<h1>Waybills</h1>

<div ng-if="vm.error" class="alert alert-danger" role="alert">
    {{vm.messageError}}
</div>
<div class="alert alert-warning" role="alert" ng-if="vm.waybills == 0">No waybills yet</div>

<div ng-if="vm.waybills != 0">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="text-center">Waybill №</th>
            <th>Registration date</th>
            <th>Dispatcher</th>
            <th>Driver</th>
            <th>State</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="waybill in vm.waybills">
            <td>
                <div class="text-center">{{waybill.number}}</div>
            </td>
            <td>{{waybill.date | date:"dd/MM/yy HH:mm"}}</td>
            <td>{{waybill.dispatcher.firstName}} {{waybill.dispatcher.lastName}}</td>
            <td>{{waybill.driver.firstName}} {{waybill.driver.lastName}}</td>
            <td>
                <span ng-if="waybill.state == 'CREATED'" class="label label-info">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;CREATED</span>
                <span ng-if="waybill.state == 'CHECKED'" class="label label-primary">
                    <span class="glyphicon glyphicon-transfer"></span>&nbsp;CHECKED</span>
                <span ng-if="waybill.state == 'DELIVERED'" class="label label-success">
                    <span class="glyphicon glyphicon-ok"></span>&nbsp;DELIVERED</span>
                <span ng-if="waybill.state == 'REJECTED'" class="label label-danger">
                   <span class="glyphicon glyphicon-remove"></span>&nbsp;REJECTED</span>
            </td>
            <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                    <button type="button" class="btn btn-info btn-sm"
                            ng-click="vm.showModalWaybillDetails(waybill.id)" ng-if="waybill.state == 'CREATED'">
                        <span class="glyphicon glyphicon glyphicon-list-alt"></span>&nbsp;Handle
                    </button>
                    <button type="button" class="btn btn-default btn-sm"
                            ng-click="vm.showModalWaybillDetails(waybill.id)"
                            ng-if="waybill.state != 'CREATED'">
                        <span class="glyphicon glyphicon glyphicon-eye-open"></span>&nbsp;Details
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
