<h2 data-translate="manager.waybills.waybills">Waybills</h2>

<div ng-if="vm.error" class="alert alert-danger" role="alert">
    {{vm.messageError}}
</div>

<div id="control-panel">
    <div class="row">
        <div class="col-md-6">
            <div id="wrap-search">
                <input type="text" ng-keyup="vm.searchWaybill($event)" ng-model="vm.searchQuery">
            </div>
        </div>
    </div>
</div>

<div class="alert alert-info" role="alert" ng-if="vm.waybills == 0 && (!vm.isModeSearch)"
     data-translate="manager.waybills.noWaybillsYet">No waybills yet
</div>
<div class="alert alert-info" role="alert" ng-if="vm.waybills == 0 && (vm.isModeSearch)"
     data-translate="manager.waybills.noWaybillsFound">No waybills found!
</div>

<table ng-if="vm.waybills != 0" class="table table-hover">
    <thead>
    <tr>
        <th class="text-center" data-translate="manager.waybills.waybillNumber">Waybill №</th>
        <th data-translate="manager.waybills.registered">Registration date</th>
        <th data-translate="manager.waybills.dispatcher">Dispatcher</th>
        <th data-translate="manager.waybills.driver">Driver</th>
        <th data-translate="manager.waybills.state">State</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="waybill in vm.waybills track by $index">
        <td ng-bind-html="waybill.number">
            <div class="text-center">{{waybill.number}}</div>
        </td>
        <td>{{waybill.date | date:"dd/MM/yy HH:mm"}}</td>
        <td ng-bind-html="waybill.dispatcherFirstName + ' ' + waybill.dispatcherLastName">
            {{waybill.dispatcherFirstName}} {{waybill.dispatcherLastName}}
        </td>
        <td ng-bind-html="waybill.driverFirstName + ' ' + waybill.driverLastName">{{waybill.driverFirstName}}
            {{waybill.driverLastName}}
        </td>
        <td>
                <span ng-if="waybill.state == 'CREATED'" class="label label-info">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;
                    <span data-translate="manager.states.created">CREATED</span>
                </span>
            <span ng-if="waybill.state == 'CHECKED'" class="label label-primary">
                <span class="glyphicon glyphicon-transfer"></span>&nbsp;
                <span data-translate="manager.states.checked">CHECKED</span>
            </span>
            <span ng-if="waybill.state == 'DELIVERED'" class="label label-success">
                <span class="glyphicon glyphicon-ok"></span>&nbsp;
                <span data-translate="manager.states.delivered">DELIVERED</span>
            </span>
            <span ng-if="waybill.state == 'REJECTED'" class="label label-danger">
                   <span class="glyphicon glyphicon-remove"></span>&nbsp;
                <span data-translate="manager.states.rejected">REJECTED</span></span>
        </td>
        <td class="text-right">
            <button type="button" class="btn btn-info btn-sm"
                    ng-click="vm.showModalWaybillDetails(waybill.id)"
                    ng-if="waybill.state == 'CREATED'">
                <span class="glyphicon glyphicon glyphicon-list-alt"></span>&nbsp;<span
                data-translate="manager.waybills.handle">Handle</span>
            </button>
            <button type="button" class="btn btn-default btn-sm"
                    ng-click="vm.showModalWaybillDetails(waybill.id)"
                    ng-if="waybill.state != 'CREATED'">
                <span class="glyphicon glyphicon glyphicon-eye-open"></span>&nbsp;<span
                data-translate="manager.waybills.details">Details</span>
            </button>
        </td>
    </tr>
    </tbody>
</table>
