<h1 data-translate="admincompany.users.titleall">Employees</h1>


<div id="control-panel">
    <a href="#/admincompany/usercreate" class="btn btn-admin">
        <span class="glyphicon glyphicon-plus"></span>
        <span data-translate="admincompany.form.create">Create</span>
    </a>
</div>
<div class="alert alert-warning" ng-if="vm.users.length === 0">List of employees is empty. You can create new employee now
    using buttom "Create".
</div>

<div ng-if="vm.users.length != 0">
    <div id="control-table">
        <span class="select-show-title"><span data-translate="admincompany.form.show">Show:</span>
        <select ng-model="vm.itemsPerPage" ng-options="number for number in vm.availableItemsPerPage"
                ng-change="vm.changeItemsPerPage()" class="btn btn-default">
        </select>
    </div>

    <table class="table table-hover">
        <thead>

        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
            <th jh-sort-by="login" data-translate="admincompany.users.login">Login<span class="fa fa-sort"></span></th>
            <th jh-sort-by="firstName"><span data-translate="admincompany.users.firstandlastname">First name, last name</span><span class="fa fa-sort"></span></th>
            <th jh-sort-by="email"><span data-translate="admincompany.users.email">Email</span><span class="fa fa-sort"></span></th>
            <th jh-sort-by="status" id="row-status"><span data-translate="admincompany.users.status">Status</span><span class="fa fa-sort"></span></th>
            <th><span data-translate="admincompany.users.role">Role</span></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in vm.users" ng-class="{'selected' : vm.selected[$index]}">
            <td class="padding-for-first-row"><a href="#/admincompany/users/{{user.id}}">{{user.login}}</a></td>
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td class="text-align-center">
                <span ng-if="user.activated" ng-click="vm.toggleStatus(user)" class="label label-success" data-translate="admincompany.users.active">ACTIVE</span>
                <span ng-if="!user.activated" ng-click="vm.toggleStatus(user)"
                      class="label label-warning" data-translate="admincompany.users.nonactive">NON-ACTIVE</span>
            </td>
            <td>{{vm.getRoleForUI(user.authorities[0])| uppercase}}</td>
        </tr>
        </tbody>
    </table>
    <div ng-if="vm.totalItems > vm.itemsPerPage ">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm"
                        total-items="vm.totalItems"
                        items-per-page="vm.itemsPerPage"
                        boundary-link-numbers="true"
                        rotate="true"
                        ng-model="vm.page"
                        ng-change="vm.transition()">
        </uib-pagination>
    </div>
</div>
