<h1 data-translate="admincompany.truck.titleupdate">Trucks</h1>

<div ng-if="vm.error" class="alert alert-danger" role="alert">
    {{vm.messageError}}
</div>

<div ng-if="!vm.error">
    <div id="control-panel">
        <a href="#/admincompany/truckcreate" class="btn btn-admin">
            <span class="glyphicon glyphicon-plus"></span><span data-translate="admincompany.form.create">Create</span>
        </a>
    </div>
    <div class="alert alert-warning" ng-if="vm.trucks.length === 0" data-translate="admincompany.truck.listempty">List of trucks is empty. You can create new itemes to using buttom "Create".</div>

    <div ng-if="vm.trucks.length != 0">
        <div id="control-table">
            <span class="select-show-title" data-translate="admincompany.form.show">Show:</span>
            <select ng-model="vm.itemsPerPage" ng-options="number for number in vm.availableItemsPerPage"
                    ng-change="vm.changeItemsPerPage()" class="btn btn-default">
            </select>
        </div>


        <table class="table table-hover">
            <thead>

            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="regNumber">
                    <span data-translate="admincompany.truck.registernumber">Register number</span><span class="fa fa-sort"></span>
                </th>
                <th jh-sort-by="model">
                    <span data-translate="admincompany.truck.model">Model</span><span class="fa fa-sort"></span>
                </th>
                <th jh-sort-by="consumption">
                    <span data-translate="admincompany.truck.consumption">Consumption</span><span class="fa fa-sort"></span>
                </th>
                <th jh-sort-by="type">
                    <span data-translate="admincompany.truck.type">Type</span><span class="fa fa-sort"></span>
                </th>
                <th jh-sort-by="status">
                    <span data-translate="admincompany.truck.status">Status</span><span class="fa fa-sort"></span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="truck in vm.trucks">
                <td class="padding-for-first-row"><a href="#/admincompany/trucks/{{truck.id}}">{{truck.regNumber}}</a>
                </td>
                <td>{{truck.model}}</td>
                <td class="row-consumption-truck">{{truck.consumption}}</td>
                <td class="row-type-truck">
                    <span class="label label-default" ng-if="truck.type =='BODY'" data-translate="admincompany.truck.body">BODY</span>
                    <span class="label label-default" ng-if="truck.type =='REFRIGERATOR'" data-translate="admincompany.truck.refrigerator">REFRIGERATOR</span>
                    <span class="label label-default" ng-if="truck.type =='TANK'" data-translate="admincompany.truck.tank">TANK</span>
                    <!--<span class="label label-default">{{truck.type}}</span>-->
                </td>
                <td class="row-status-truck">
                    <span class="label label-success" ng-if="truck.status == 'READY'" data-translate="admincompany.truck.ready" > READY</span>
                    <span class="label label-warning" ng-if="truck.status == 'REPAIRING'" data-translate="admincompany.truck.repairing"> REPAIRING</span>
                    <span class="label label-danger" ng-if="truck.status == 'WRITTENOFF'" data-translate="admincompany.truck.writtenoff"> WRITTEN OFF</span>

                </td>
            </tr>
            </tbody>
        </table>


        <div ng-if="vm.totalItems > vm.itemsPerPage ">
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm"
                            total-items="vm.totalItems"
                            items-per-page="vm.itemsPerPage"
                            boundary-link-numbers="true"
                            rotate="true"
                            ng-model="vm.page"
                            ng-change="vm.transition()">
            </uib-pagination>
        </div>

    </div>
</div>


