<h1>Storages</h1>

<div ng-if="vm.error" class="alert alert-danger" role="alert">
    {{vm.messageError}}
</div>

<div ng-if="!vm.error">
    <div id="control-panel">
        <a href="#/admincompany/truckcreate" class="btn btn-admin"><span class="glyphicon glyphicon-plus"></span>Create</a>
    </div>


    Show:
    <select ng-model="vm.itemsPerPage" ng-options="number for number in vm.availableItemsPerPage" ng-change="vm.changeItemsPerPage()">
    </select>

    <table class="table table-hover">
        <thead>

        <tr>
            <th>Register number</th>
            <th>Consumption</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="truck in vm.trucks">
            <td><a href="#/admincompany/trucks/{{truck.id}}">{{truck.regNumber}}</a></td>
            <td>{{truck.consumption}}</td>
        </tr>
        </tbody>
    </table>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm"
                        total-items="vm.totalItems"
                        items-per-page = "vm.itemsPerPage"
                        boundary-link-numbers = "true"
                        rotate = "true"
                        ng-model="vm.page"
                        ng-change="vm.transition()">
        </uib-pagination>
    </div>

</div>


