<h1>Submit offer</h1>

<div class="alert alert-danger" ng-if="vm.error">
    {{vm.messageError}}
</div>

<form name="form" role="form" ng-submit="vm.createWaybill()">
    <div class="form-group">
        <label for="leavingStorage">Leaving storage</label>
        <input type="text" id="leavingStorage" class="form-control" name="leavingStorage" ng-model="vm.offer.leavingStorage.name" readonly>
    </div>

    <div class="form-group">
        <label for="arrivalStorage">Arrival storage</label>
        <input type="text" id="arrivalStorage" class="form-control" name="arrivalStorage" ng-model="vm.offer.arrivalStorage.name" readonly>
    </div>
    <div class="form-group">
        <label for="drivers">Driver</label>
        <ui-select ng-model="vm.driver" title="Choose a driver" id = "drivers" ng-required="true" name="driver">
            <ui-select-match>
                <span ng-bind="($select.selected.firstName) + ' '+ ($select.selected.lastName)"></span>
            </ui-select-match>

            <ui-select-choices repeat="driver in (vm.drivers | filter: $select.search) track by driver.id">
                <span ng-bind="driver.firstName + ' ' + driver.lastName"></span>
            </ui-select-choices>
        </ui-select>
    </div>

    <div class="form-group">
        <label for="trucks">Truck</label>
        <ui-select ng-model="vm.truck" title="Choose a truck" id = "trucks" ng-required="true" name="truck">
            <ui-select-match>
                <span ng-bind="($select.selected.model) + ' ' + ($select.selected.regNumber)"></span>
            </ui-select-match>

            <ui-select-choices repeat="truck in (vm.trucks | filter: $select.search) track by truck.id">
                <span ng-bind="truck.model + ' ' + truck.regNumber"></span>
            </ui-select-choices>
        </ui-select>
    </div>

    <div>
        <div class="form-group"  ng-class="{'has-error' : (form.leavingDate.$dirty && form.leavingDate.$invalid) }">
            <label class="col-sm-2 control-label">Leaving Date:</label>
            <div class="col-sm-10">
                <p class="input-group">
                    <input type="text"
                           name="leavingDate"
                           class="form-control"
                           datetime-picker="dd MMM yyyy HH:mm"
                           ng-model="vm.leaveDate"
                           required
                           is-open="vm.leavingPicker.open"
                           enable-time="true"
                           datepicker-options="vm.leavingPicker.datepickerOptions"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar($event, 'leavingPicker')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
                <div ng-show="form.leavingDate.$dirty && form.leavingDate.$invalid">
                    <p class="help-block"
                       ng-show="form.leavingDate.$error.required">
                        Leaving Date is required.
                    </p>
                    <p class="help-block"
                       ng-show="form.leavingDate.$error.invalid">
                        Leaving Date is invalid.
                    </p>
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : (form.arrivalDate.$dirty && form.arrivalDate.$invalid) }">
            <label class="col-sm-2 control-label" for="arrivalDate">Arrival Date:</label>
            <div class="col-sm-10">
                <p class="input-group">
                    <input type="text"
                           id="arrivalDate"
                           name="arrivalDate"
                           class="form-control"
                           datetime-picker="dd MMM yyyy HH:mm"
                           ng-model="vm.arrivalDate"
                           required
                           is-open="vm.arrivalPicker.open"
                           enable-time="true"
                           datepicker-options="vm.arrivalPicker.datepickerOptions"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar($event, 'arrivalPicker')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
                <div ng-show="form.arrivalDate.$dirty && form.arrivalDate.$invalid">
                    <p class="help-block"
                       ng-show="form.arrivalDate.$error.required">
                        Arrival Date is required.
                    </p>
                    <p class="help-block"
                       ng-show="form.arrivalDate.$error.invalid">
                        Arrival Date is invalid.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-group flex-btn-group-container pull-right">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-success">Submit offer</button>
        <a href="#/dispatcher/offer" class="btn btn-warning">Cancel</a>
    </div>
</form>
