<h1>Offers</h1>

<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>№</th>
            <th>Date</th>
            <!--<th>Created by</th>-->
            <th>Leaving storage</th>
            <th>Arrival storage</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="offer in vm.offers">
            <td>{{offer.id}}</td>
            <td>{{offer.creationDate | date:'dd/MM/yy HH:mm'}}</td>
            <!--<td>{{offer.createdBy}}</td>-->
            <td>{{offer.leavingStorage.name}}</td>
            <td>{{offer.arrivalStorage.name}}</td>

            <td>
                <span ng-if = "offer.state == 'NEW'" class="label label-info" >NEW</span>
                <span ng-if = "offer.state == 'CANCELED'" class="label label-danger">CANCELED</span>
                <span ng-if = "offer.state == 'ACCEPTED'" class="label label-success">ACCEPTED</span>
            </td>

            <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                    <a href="#/dispatcher/offer/submit/{{offer.id}}" type="button" class="btn btn-success btn-sm" ng-if = "offer.state == 'NEW'">
                        <span class="glyphicon glyphicon-ok"></span>&nbsp;Accept</a>
                    <button ng-click="vm.cancelOffer(offer)" type="button" class="btn btn-danger btn-sm" ng-if = "offer.state == 'NEW'">
                        <span class="glyphicon glyphicon-remove-sign"></span>&nbsp;Cancel</button>
                    <a href="#/dispatcher/offer/details/{{offer.id}}" type="button" class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon glyphicon-eye-open"></span>&nbsp;Details</a>
                </div>
            </td>

        </tr>
    </tbody>
</table>
