<h1>Trucks</h1>


<div id="control-panel">
    <a class="btn btn-primary" href="">Create new Truck</a>
    <a class="btn btn-danger" href="">Delete Truck</a>
</div>

<table class="table">
    <thead>
    <tr>
        <th><input type="checkbox" ng-model="vm.checkedAll" ng-change="vm.changeStateCheckbox()"></th>
        <th>id</th>
        <th>Consumption</th>
        <th>Reg. number</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="truck in vm.trucks">
        <td><input type="checkbox"></td>
        <td>{{truck.id}}</td>
        <td>{{truck.consumption}}</td>
        <td>{{truck.regNumber}}</td>
    </tr>
    </tbody>
</table>
