<h1>Route list</h1>

<div ng-if="vm.error" class="alert alert-danger" role="alert">
    {{vm.messageError}}
</div>

<div class="alert alert-warning" role="alert" ng-if="vm.routelists == 0">No route list yet</div>

<div ng-if="vm.routelists != 0">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Route list №</th>
            <!--<th>Driver</th>-->
            <th>Truck number</th>
            <th>Leaving date</th>
            <th>Arrival date</th>
            <th>Route</th>
            <th>State</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="routelist in vm.routelists">
            <td>
                <div class="text-center">{{routelist.number}}</div>
            </td>
            <td>{{routelist.truck.regNumber}}</td>
            <td>{{routelist.leavingDate | date:"dd/MM/yy HH:mm"}}</td>
            <td>{{routelist.arrivalDate | date:"dd/MM/yy HH:mm"}}</td>
            <td><a href="#/manager/routelist-for-waybill/{{routelist.id}}">{{routelist.leavingStorage.address}}<span
                class="glyphicon glyphicon-arrow-right"></span>
                {{routelist.arrivalStorage.address}}
            </a>
            </td>
            <td>
                <span ng-if="routelist.state == 'UNCHECKED'" class="label label-info">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;{{routelist.state}}</span>
                <span ng-if="routelist.state == 'TRANSPORTATION'" class="label label-primary">
                    <span class="glyphicon glyphicon-transfer"></span>&nbsp;{{routelist.state}}</span>
                <span ng-if="routelist.state == 'DELIVERED'" class="label label-success">
                    <span class="glyphicon glyphicon-ok"></span>&nbsp;{{routelist.state}}</span>
            </td>
        </tr>
        </tbody>
    </table>

</div>
