<h1>Route lists</h1>

<div ng-if="vm.error" class="alert alert-danger" role="alert">
    {{vm.messageError}}
</div>

<div ng-if="!vm.error">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Route list №</th>
            <!--<th>Driver</th>-->
            <th>Truck number</th>
            <th>Leaving date</th>
            <th>Arrival date</th>
            <th>Route</th>
            <th>State</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="routelist in vm.routelists">
            <td>
                <div class="text-center">{{routelist.id}}</div>
            </td>
            <td>{{routelist.truck.regNumber}}</td>
            <td>{{routelist.leavingDate | date:"dd/MM/yy HH:mm"}}</td>
            <td>{{routelist.arrivalDate | date:"dd/MM/yy HH:mm"}}</td>
            <td><a href="#/manager/routelist-for-waybill/{{routelist.id}}">{{routelist.leavingStorage.address}}<span class="glyphicon glyphicon-arrow-right"></span>
                {{routelist.arrivalStorage.address}}
            </a>
            </td>
            <td>{{routelist.state}}</td>
        </tr>
        </tbody>
    </table>

</div>
