<!--<div class="modal-header">-->
    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true"-->
            <!--ng-click="vm.cancel()">&times;</button>-->
    <!--<h4 class="modal-title" data-translate="login.title">Sign in</h4>-->
<!--</div>-->
<div class="modal-body" id="login-form">

    <div id="login-form-header">
        <img src="content/images/logo-signin.png" alt="LOGO" id="login-logo" />
        <h1 data-translate="login.title">Sign in</h1>
    </div>

    <div id="login-form-body">
        <div class="alert alert-danger" ng-show="vm.authenticationError" data-translate="login.messages.error.authentication">
            <strong>Failed to sign in!</strong> Please check your credentials and try again.
        </div>

        <form class="form" role="form" ng-submit="vm.login($event)">
            <div class="form-group">
                <label for="username" data-translate="global.form.username">Login</label>
                <input type="text" class="form-control" id="username" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="vm.username">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6"> <label for="password" data-translate="login.form.password">Password</label></div>
                    <div class="col-md-6 text-align-right"><a class="alert-link" href="" ng-click="vm.requestResetPassword()" data-translate="login.password.forgot">Did you forget your password?</a></div>
                </div>
                <div>


                </div>
                <input type="password" class="form-control" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                       ng-model="vm.password">
            </div>
            <div class="form-group">
                <label for="rememberMe">
                    <input type="checkbox" id="rememberMe" ng-model="vm.rememberMe" checked>
                    <span data-translate="login.form.rememberme">Remember me</span>
                </label>
            </div>
            <div class="row">
                <div class="col-md-6" >
                    <button type="submit" class="btn btn-primary width-100" data-translate="login.form.button">Sign in</button>
                </div>
                <div class="col-md-6">
                    <a href="#" class="btn btn-primary width-100" data-translate="login.form.close"  ng-click="vm.cancel()">Close</a>
                </div>
            </div>
        </form>
    </div>

</div>
