<div ng-if="!vm.isValidKey" class="alert alert-danger" role="alert">
    Activation key is valid
</div>

<div ng-if="vm.isValidKey">
    <h1>Change password</h1>
    <div ng-if="vm.isError" class="alert alert-danger" role="alert">
       Password does not match confirm password.
    </div>
    <form name="form">

        <div class="form-group" ng-class="{'has-error' : (form.password.$dirty && form.password.$invalid) }">
            <label class="control-label" for="password">Password*</label>
            <input type="password" ng-model="vm.password" name="password" class="form-control" id="password"
                   placeholder="Password" ng-minlength=4 ng-maxlength=50 required>
            <div ng-show="form.password.$dirty && form.password.$invalid">
                <p class="help-block"
                   ng-show="form.password.$error.required"
                   data-translate="global.messages.validate.newpassword.required">
                    Your password is required.
                </p>
                <p class="help-block"
                   ng-show="form.password.$error.minlength"
                   data-translate="global.messages.validate.newpassword.minlength">
                    Your password is required to be at least 4 characters.
                </p>
                <p class="help-block"
                   ng-show="form.password.$error.maxlength"
                   data-translate="global.messages.validate.newpassword.maxlength">
                    Your password cannot be longer than 50 characters.
                </p>
            </div>
        </div>

        <div class="form-group"
             ng-class="{'has-error' : (form.confirmPassword.$dirty && form.confirmPassword.$invalid) }">
            <label class="control-label" for="confirmpassword">Confirm password*</label>
            <input type="password" ng-model="vm.confirmpassword" name="confirmPassword" class="form-control"
                   id="confirmpassword" placeholder="Password" ng-minlength=4 ng-maxlength=50 required>
            <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                <p class="help-block"
                   ng-show="form.confirmPassword.$error.required"
                   data-translate="global.messages.validate.confirmpassword.required">
                    Your confirmation password is required.
                </p>
                <p class="help-block"
                   ng-show="form.confirmPassword.$error.minlength"
                   data-translate="global.messages.validate.confirmpassword.minlength">
                    Your confirmation password is required to be at least 4 characters.
                </p>
                <p class="help-block"
                   ng-show="form.confirmPassword.$error.maxlength"
                   data-translate="global.messages.validate.confirmpassword.maxlength">
                    Your confirmation password cannot be longer than 50 characters.
                </p>
            </div>

        </div>
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" ng-click="vm.changePassword()">Accept
            changes
        </button>
    </form>
</div>


