<div
    ng-if="vm.routeList.state === 'TRANSPORTATION' && (vm.waybill.state === 'DELIVERED' || vm.waybill.state === 'CHECKED')">
    <h1 style="text-align:center">
        <span ng-if="vm.waybill.state === 'CHECKED'"
              data-translate="driver.goods.list">List of goods</span>
        <span ng-if="vm.waybill.state === 'DELIVERED'"
              data-translate="driver.goods.complete">Delivery is completed</span></h1>
    <form name="myForm">
        <table class="table table-hover">

            <thead>
            <tr>
                <td>
                    <a href="#/driver/complete" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        <b data-translate="driver.goods.name">name</b>
                        <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td>
                    <a href="#/driver/complete" ng-click="sortType = 'acceptedNumber'; sortReverse = !sortReverse">
                        <b data-translate="driver.goods.accepted">accepted number</b>
                        <span ng-show="sortType == 'acceptedNumber' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'acceptedNumber' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td>
                    <b data-translate="driver.goods.delivered">delivered number</b>
                </td>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="good in vm.goods1 | orderBy:sortType:sortReverse">
                <td>{{good.name}}</td>
                <td>{{good.acceptedNumber}}</td>
                <!--<td><input type="number" ng-model="good.deliveredNumber" name="deliveredNumber" class="form-control"-->
                <!--id="deliveredNumber"-->
                <!--placeholder="delivered number" required style="width: 50%" ng-click="vm.updateState()"></td>-->
                <td>
                    <div
                        ng-class="{'has-error' : (myForm.goodsNum{{good.id}}.$dirty && myForm.goodsNum{{good.id}}.$invalid)}">
                        <input name="goodsNum{{good.id}}"
                               ng-model="good.deliveredNumber"
                               type="number" ng-click="vm.updateState()" required>
                    </div>
                </td>

            </tr>
            </tbody>

        </table>
        <div ng-if="vm.waybill.state === 'DELIVERED'">
        <button class="btn btn-success" ng-disabled="myForm.$invalid" ng-click="vm.update()"
                data-translate="driver.goods.complete_button">Confirm</button>
        </div>
    </form>
</div>


