#page-role{
    margin-top:20px;
    margin-bottom: 20px;
}

#sidebar-role{
    background: #fff;
}

#page-role-content{
    background: #fff;
    padding: 0 15px;
}

#page-role-content h1{
    padding: 10px 0;
    margin: 0 ;
}

#control-panel{
    margin-bottom: 10px;
}

.table > tbody > tr > td{
    vertical-align: middle;
}
#action-th{
    width:150px;
}
