<h1>Storages</h1>


<div id="control-panel">
    <a class="btn btn-primary" href="#/dispatcher/storage/create">Create new Storage</a>
    <a class="btn btn-danger" href="">Delete storage</a>
</div>

<table class="table">
    <thead>
    <tr>
        <th><input type="checkbox" ng-model="vm.checkedAll" ng-change="vm.changeStateCheckbox()"></th>
        <th>id:</th>
        <th>Name:</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="storage in vm.storages">
        <td><input type="checkbox"></td>
        <td>{{storage.id}}</td>
        <td><a href="#/dispatcher/storage/{{storage.id}}">{{storage.name}}</a></td>
        <td><span  ng-click="vm.delete(storage.id)" class="glyphicon glyphicon-trash"></span></td>
    </tr>
    </tbody>
</table>
