<h3 style="text-align:center" data-translate="driver.routelist.checkpoint">Checkpoints</h3>
    <table class="table table-hover">
    <thead>
    <tr>
        <th data-translate="driver.routelist.name">name</th>
        <th data-translate="driver.routelist.time">time</th>
        <th data-translate="driver.routelist.status">status</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="checkpoint in vm.checkpoints">
        <td><p>{{checkpoint.name}}</p></td>
        <td><p>{{checkpoint.checkDate | date:'dd/MM/yy HH:mm'}}</p></td>
        <td class="text-align-center">
            <span ng-if = "!checkpoint.checkDate" ng-click="vm.markDate(checkpoint.id)" class="label label-warning"
                  data-translate="driver.routelist.mark">mark</span>
            <span ng-if = "checkpoint.checkDate" class="label label-success"
                  data-translate="driver.routelist.ok">ok</span>
        </td>
    </tr>
    <tr>
        <td>{{vm.routeList.arrivalStorage.address}} <span class="glyphicon glyphicon-flag"></span></td>
        <td>{{waybill.routeList.arrivalDate | date:'dd/MM/yy HH:mm'}}</td>

        <td class="text-align-center">
            <span ng-click="vm.completeTrip()" class="label label-warning" data-translate="driver.routelist.complete">complete</span>
        </td>
    </tr>
    </tbody>
</table>
