<h3 style="text-align:center">Checkpoints</h3>
    <table class="table table-hover">
    <thead>
    <tr>
        <th>name</th>
        <th>time</th>
        <th>status</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="checkpoint in vm.checkpoints">
        <td><p>{{checkpoint.name}}</p></td>
        <td><p>{{checkpoint.checkDate | date:'dd/MM/yy HH:mm'}}</p></td>
        <td class="text-align-center">
            <span ng-if = "!checkpoint.checkDate" ng-click="vm.markDate(checkpoint.id)" class="label label-warning" >mark</span>
            <span ng-if = "checkpoint.checkDate" class="label label-success">ok</span>
        </td>
    </tr>
    <tr>
        <td>{{vm.routeList.leavingStorage.address}} <span class="glyphicon glyphicon-flag"></span></td>
        <td>{{waybill.routeList.arrivalDate | date:'dd/MM/yy HH:mm'}}</td>

        <td class="text-align-center">
            <span ng-click="vm.completeTrip()" class="label label-warning" >complete</span>
        </td>
    </tr>
    </tbody>
</table>
