<!--<jk-rating-stars style="text-align:center" max-rating="10" rating="vm.currentRate"-->
                 <!--read-only="vm.readOnly"></jk-rating-stars>-->
<!--<div ng-if="vm.waybill.state == 'CHECKED' && vm.routeList.state == 'TRANSPORTATION'">-->
<span ng-repeat="waybill in vm.waybills">
        <h1 style="text-align:center" data-translate="driver.routelist.routelists">Route list</h1>
    <div class="row">

        <div class="col-md-3">
        </div>
            <div class="col-md-9">
                    <dl class="dl-horizontal">
                        <dt><span><h4><b data-translate="driver.routelist.waybills">Waybill №:</b></h4></span></dt>
                        <dd><span><h4>{{waybill.number}}</h4></span></dd>

                        <dt><span><h4><b
                            data-translate="driver.routelist.dispatcher">Dispatcher:</b></h4></span></dt>
                        <dd><span><h4>{{waybill.dispatcher.firstName}} {{waybill.dispatcher.lastName}}</h4></span></dd>

                        <dt><span><h4><b
                            data-translate="driver.routelist.creation_date">Creation date:</b></h4></span></dt>
                        <dd><span><h4>{{waybill.date | date:'dd/MM/yy HH:mm'}}</h4></span></dd>

                        <dt><span><h4><b
                            data-translate="driver.routelist.driver">Driver:</b></h4></span></dt>
                        <dd><span><h4>{{waybill.driver.firstName}} {{waybill.driver.lastName}}</h4></span></dd>

                        <dt><span><h4><b
                            data-translate="driver.routelist.leaving_storage">Leaving storage:</b></h4></span></dt>
                        <dd><span><h4>{{waybill.routeList.leavingStorage.address}}</h4></span></dd>

                        <dt><span><h4><b
                            data-translate="driver.routelist.leaving_date">Leaving date:</b></h4></span></dt>
                        <dd><span><h4>{{waybill.routeList.leavingDate | date:'dd/MM/yy HH:mm'}}</h4></span></dd>

                        <dt><span><h4><b
                            data-translate="driver.routelist.arrival_storage">Arrival storage:</b></h4></span></dt>
                        <dd><span><h4>{{waybill.routeList.arrivalStorage.address}}</h4></span></dd>

                        <dt><span><h4><b
                            data-translate="driver.routelist.arrival_date">Arrival date:</b></h4></span></dt>
                        <dd><span><h4>{{waybill.routeList.arrivalDate | date:'dd/MM/yy HH:mm'}}</h4></span></dd>
                </dl>
                </div>
        <!--</div>-->
    <!--<ng-map ng-if="render" zoom="14" center="37.7699298, -122.4469157" style="height:90%">-->
    <!--<directions-->
        <!--draggable="false"-->
        <!--panel="directions-panel"-->
        <!--travel-mode="{{vm.travelMode}}"-->
        <!--waypoints="{{vm.checkpointNames}}"-->
        <!--origin="{{vm.routeList.leavingStorage.address}}"-->
        <!--destination="{{vm.routeList.arrivalStorage.address}}">-->
    <!--</directions>-->
        <!--<div ng-repeat="imageWaypoint in vm.imageWaypoints">-->
        <!--<custom-marker position="{{imageWaypoint.position}}">-->
        <!--<div>-->
            <!--<img src="{{imageWaypoint.image}}"/>-->
        <!--</div>-->
    <!--</custom-marker>-->
    <!--</div>-->
    <!--</ng-map>-->
    <div ng-include src="'app/roles/driver/routelist/driver.checkpoint.html'"></div>
    </div>
</span>
<!--<div ng-show="vm.checkJob()">-->
    <!--<h1 style="text-align:center" data-translate="driver.job.status">You don't have task now </h1>-->
<!--</div>-->

