
<span ng-repeat="waybill in vm.waybills">
<div ng-if="waybill.state == 'CHECKED'">

        <h1 style="text-align:center">Route list</h1>
    <table class="table table-striped">
        <tbody>
        <tr><td><h4>Waybill № {{waybill.id}}</h4></td></tr>
        <tr><td><h4>Truck: {{vm.routeList.truck.model}} {{vm.routeList.truck.type}} {{vm.routeList.truck.regNumber}}</h4></td></tr>
        <tr><td><h4>Driver: {{waybill.driver.firstName}} {{waybill.driver.lastName}}</h4></td></tr>
        <tr><td><h4>route from {{vm.routeList.leavingStorage.address}} to {{vm.routeList.arrivalStorage.address}}</h4></td></tr>
        <tr><td><h4>start date: {{waybill.routeList.leavingDate | date:'yyyy-MM-dd HH:mm'}}</h4></td></tr>
        <tr><td><h4>arrival date:  {{waybill.routeList.arrivalDate | date:'yyyy-MM-dd HH:mm'}}</h4></td></tr>
        </tbody>
    </table>
    <ng-map  zoom="14" center="37.7699298, -122.4469157" style="height:90%">
    <directions
        draggable="false"
        panel="directions-panel"
        travel-mode="{{vm.travelMode}}"
        waypoints="{{vm.checkpointNames}}"
        origin="{{vm.routeList.leavingStorage.address}}"
        destination="{{vm.routeList.arrivalStorage.address}}">
    </directions>
        <div ng-repeat="imageWaypoint in vm.imageWaypoints">
        <custom-marker position="{{imageWaypoint.position}}">
        <div>
            <img src="{{imageWaypoint.image}}"/>
        </div>
    </custom-marker>
    </div>
    </ng-map>
    <div ng-include src="'app/roles/driver/routelist/driver.checkpoint.html'"></div>
    </div>
</span>
<div ng-show="!vm.waybills.length">
    <h1 style="text-align:center">You don't have task now </h1>
</div>
