<div ng-if="vm.routeList.state === 'TRANSPORTATION'">
 <h1 style="text-align:center">Delivery is completed</h1>
<form name="myForm">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><p>name</p></th>
            <th><p>accepted number</p></th>
            <th><p>delivered number</p></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="good in vm.goods1">
            <td><p>{{good.name}}</p></td>
            <td><p>{{good.acceptedNumber}}</p></td>
            <td><input type="number" ng-model="good.deliveredNumber" name="deliveredNumber" class="form-control"
                       id="deliveredNumber"
                       placeholder="delivered number" required></td>
        </tr>
        </tbody>
    </table>
    </form>
<div ng-if="myForm.deliveredNumber.$valid">
    <a href="" class="btn btn-default"  ng-click="vm.update()">Update</a>
    </div>
    <a href="#/driver/complete" class="btn btn-default">Cancel</a>
</div>
