<div id="companyowner-initial">
    <h2 class="text-align-center">Welcome. You are logged as Company Owner for company <b>{{vm.account.company.name}}</b></h2>

    <div class="row" style="margin-bottom:20px">
        <div class="col-md-12">
            <div class="page page-white">
                <div class="graph">
                    <div style="float:right">
                        <span style="margin-left: 7px; background: #fff; cursor: pointer; padding: 5px 10px 7px 10px;
                         border: 1px solid #ccc; border-radius: 4px; width: 100%;"
                              ng-model="vm.datePicker" options="vm.datePickerOpts" date-range-picker name="datepicker" >
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                            <span></span> <b class="caret"></b>
                        </span>

                        <btn class="btn btn-default btn-sm" title="Download report"
                             style="margin-left: 7px; background: #fff; border-width: 1px"
                             ng-click="vm.downloadCommonReport()" ng-if="vm.profitChartData.size != 0">
                            <i class="fa fa-download"></i>
                        </btn>
                    </div>

                    <highchart ng-if="render"  style="clear: both; margin: 0 -10px -10px -10px;  height: 360px"
                               id="commonChart" config="vm.commonChartConfig" ></highchart>

                </div>
            </div>
        </div>

    </div>

    <div class="row" style="margin-bottom:20px">
        <div class="col-md-12">
            <div class="page page-white">
                <div class="graph">
                    <div style="float:right">
                        <btn class="btn btn-default btn-sm" title="Download top 5 best drivers report"
                             style="margin-left: 7px; background: #fff; border-width: 1px"
                             ng-click="vm.downloadTopBestDriversReport()">
                            <i class="fa fa-download"></i>
                        </btn>
                    </div>
                    <highchart ng-if = "render"
                               style="clear: both; margin: 0 -10px -10px -10px"
                               id="topBestDriversChart" config="vm.topBestDriversChartConfig"></highchart>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="page page-white">
                <div class="graph">
                    <div style="float:right">
                        <span style="margin-left: 7px; background: #fff; cursor: pointer; padding: 5px 10px 7px 10px;
                        border: 1px solid #ccc; border-radius: 4px; width: 100%;"
                              ng-model="vm.lossDatePicker" options="vm.lossDatePickerOpts" date-range-picker
                              name="lossDatepicker">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                            <span></span> <b class="caret"></b>
                        </span>

                        <btn class="btn btn-default btn-sm" title="Download loss report"
                             style="margin-left: 7px; background: #fff; border-width: 1px"
                             ng-click="vm.downloadLossReport()"
                             ng-if="vm.lossChartData.size != 0">
                            <i class="fa fa-download"></i>
                        </btn>

                        <btn class="btn btn-default btn-sm" title="Download loss report with responsible persons"
                             style="margin-left: 7px; background: #fff; border-width: 1px"
                             ng-click="vm.downloadLossReportWithRP()"
                             ng-if="vm.lossChartData.size != 0">
                            <i class="fa fa-user"></i>
                        </btn>
                    </div>

                    <highchart ng-if="render" id="lossChart"
                               style="clear: both; margin: 0 -10px -10px -10px"
                               config="vm.lossChartConfig"></highchart>
                </div>
            </div>
        </div>
    </div>
</div>
