<h1>Route lists</h1>

<div id="control-panel">
    <div class="row">
        <div class="col-md-4">
            <button type="button" class="btn btn-success btn-sm"
                    ng-click="vm.downloadReport()" ng-if="vm.routeLists.size != 0">
                <span class="glyphicon glyphicon glyphicon-list-alt"></span>&nbsp;Report
            </button>
        </div>

        <div class="col-md-8" >

            <div style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%"
                 ng-model="vm.datePicker" options="vm.datePickerOpts" date-range-picker name="datepicker" >
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>

        </div>



    </div>
</div>


Show:
<select ng-model="vm.itemsPerPage" ng-options="number for number in vm.availableItemsPerPage" ng-change="vm.changeItemsPerPage()">
</select>

<table class="table">
    <thead>
    <tr>

        <th>Id</th>
        <th>Leaving storage</th>
        <th>Arrival storage</th>
        <th>Truck number</th>
        <th>Waybill number</th>
        <th>Date</th>

    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="routeList in vm.routeLists">
        <td>{{routeList.id}}</td>
        <td>{{routeList.leavingStorage.name}}</td>
        <td>{{routeList.arrivalStorage.name}}</td>
        <td>{{routeList.truck.regNumber}}</td>
        <td>{{routeList.waybill.id}}</td>
        <td> {{routeList.creationDate | date:'yyyy-MM-dd'}} </td>
    </tr>
    </tbody>
</table>

<div class="text-center">
    <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    <uib-pagination class="pagination-sm"
                    total-items="vm.totalItems"
                    items-per-page = "vm.itemsPerPage"
                    boundary-link-numbers = "true"
                    rotate = "true"
                    ng-model="vm.page"
                    ng-change="vm.transition()">
    </uib-pagination>
</div>
